/* all */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    word-break: break-all;
}
body {
    background: #fffdf5;
    transition: .7s ease;
    cursor: none;
}
a {
    cursor: none;
}

#myCursor {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: solid 2px #d9d9d9;
    position: absolute;
    transition-duration: 0.1s;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9999;
}

.c-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}
h5,h4,h3,h2,h1,p,a {
    font-family: "Poppins", sans-serif; 
}
.color-g {
    color: #fff9f0;
}
.color-b {
    color: #a5a4a4;
}
.bg {
    background: gray;
}

@keyframes fontup {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
       opacity: 1;
       transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }

/* changeclass */

.changed {
    background: #282f40 !important;
    color: white !important;
}


/* load */
.load-box {
    content: '';
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #fff9f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    opacity: 1;
    transition: .5s;
    display: block;
    width: 48px;
    height: 78px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #282f40;
    margin: auto;
    border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  }
  .loader::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #282f40;
    border-radius: 10px;
    animation: scrollDown 1.5s linear infinite;
  }
  @keyframes scrollDown {
    0% {
      top: 15px;
      height: 4px;
      opacity: 1;
    }
    33% {
      top: 15px;
      height: 40px;
    }
    66% {
      top: 50px;
      height: 10px;
      opacity: 1;
    }
    100% {
      top: 56px;
      height: 4px;
      opacity: 0;
    }
  }


/* nav */
.top-fixed {
    width: 100%;
    position: relative;
    top: 0;right: 0;
    z-index: 500;
    background: white;
}
.rwdbtnbox {
    display: none;
}
@media screen and (max-width:768px) {
    .top-fixed {
        width: 100%;
        position: fixed;
        top: 0;right: 0;
        z-index: 500;
        background: white;
    }
    .rwdbtnbox {
        display: block;
    }
    .rwdbtn {
        content: '';
        position: absolute;
        top: 0;right: 3%;
        bottom: 0;
        margin: auto;
        width: 30px;
        height: 1px;
        box-shadow: 0px -1px 0px rgb(255, 255, 255), 0px -8px 0px white, 0px -15px 0px white;
        z-index: 999;
        transition: .7s;
    }
    #rwdbtn:checked ~ .navbar-btn {
        right: 0;
    }
    #rwdbtn:checked ~ .rwdbtnbox .rwdbtn {
        box-shadow: 0px -1px 0px #282f40, 0px -8px 0px #282f40, 0px -15px 0px #282f40;
    }
    .navbar-btn {
        position: absolute;
        top: 0;right: -100%;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #fff9f0;
        transition: .7s ease;
    }
    .navbar-btn a{
        color: #282f40;
    }
}
/* .top-box {
    height: 60px;
} */
.top-title h4{
    vertical-align: middle;
    color: #a5a4a4;
    font-weight: 300;
    line-height: 1.5;
    cursor: pointer;
    display: inline;
}
.top-link a{
    color: #a5a4a4;
    font-weight: 300;
    line-height: 1.5;
}
@media screen and (max-width:768px) {
    .top-title h4{
        text-align: center;
    }
}
/* fontend */

.fontendsize {
    opacity: 0;
    font-size: 10rem;
    line-height: 1.2;
    font-weight: 600;
}
.fontendsize.is-inview {
    opacity: 1;
}
@media screen and (max-width:768px) {
    .fontendsize {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: 600;
    }
}
/* banner */

.carousel-item img{
    height: calc(75vh - 60px);
}
@media screen and (max-width:768px) {
    .top-box {
        height: 80px;
    }
    .carousel-item img{
        height: calc(40vh - 60px);
    }
}
.carousel-inner::after{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(168, 168, 168, 0.2);
}
.carousel-inner h5 {
    position: relative;
    z-index: 999 !important;
    font-weight: 400;
    text-shadow: 2px 2px 0px black;
}

.carousel-caption {
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 100%;
    content: '';
    display: flex !important;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px) {
    .carousel-caption {
        align-items: end;
    }
}
/* .carousel-control-next-icon {
    background-image: none;
    color: white;
}
.carousel-control-prev-icon {
    background-image: none;
    color: white;
} */

/* down */
.downbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes Down {
    0% {
    transform: translateY(-10px) rotate(315deg);
      opacity: 1;
    }
    50% {
    }
    100% {
    transform: translateY(10px) rotate(315deg);
      opacity: 0;
    }
  }
.down-arrow {
    animation: Down 1.5s linear infinite;
    width: 20px;
    height: 20px;
    border-left: 2px solid #282f40;
    border-bottom: 2px solid #282f40;
  }

/* about */

.about-title {
    font-weight: 400;
    opacity: 0;
}
.about-title.is-inview{
    opacity: 1;
}
.about-box p {
    opacity: 0;
    transition:opacity .7s ease;
    font-size: 2rem;
    line-height: 1.5;
}

.about-box p.is-inview{
    opacity: 1;
}
@media screen and (max-width:768px) {
    .about-imgbox {
        position: absolute;
        right: 0;
        z-index: -1;
    }
}
.about-img {
    position: relative;
    opacity: 0;
}

.about-img.is-inview {
    opacity: 1;
    transition:opacity .5s ease;
}
.about-img::after {
    content: '';
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #282f40;
    opacity: .5;
    z-index: 1;
}

.about-year {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
    transition: none !important;
}

/* project */

.Project-title {
    opacity: 0;
}
.Project-title.is-inview {
    opacity: 1;
}
.proj-line {
    position: relative;
    transition: width 1.5s ease; /* 將過渡效果應用於寬度 */
    width: 0%; /* 初始寬度為0% */
    height: 2px; /* 設置邊框的高度 */
    background-color: #000; /* 設置邊框的顏色 */
}
.proj-line.is-inview {
    width: 100%; /* 將寬度設置為100%，邊框完全可見 */
}
.project-box p{
    opacity: 0;
}
.project-box p.is-inview{
    opacity: 1;
    transition: .5s ease;
}
.project-box a{
    font-family: Playfair Display, serif;
    font-weight:800;
    color: #282f40;
    font-size: 3rem;
    opacity: 0;
}
.project-box a.is-inview{
    animation: fontup 1s linear ;
    animation-fill-mode: forwards; /*呈現動畫結束樣式*/
}
.proj-imgbox {
    position: relative;
}
.proj-imgbox img {
    box-shadow: 4px 4px 5px 2px gray;
    object-fit: cover;
    opacity: 0;
    transition:opacity .7s ease;
  }
  
.proj-imgbox img.is-inview{
opacity: 1;
}
.proj-imgboxtitle{
    position: absolute;
    z-index: 11;
    content: '';
    top: 0;right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
    backdrop-filter: blur(15px);
}
.project-box h3{
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, #ea5350 0%, #f5a500 50%, rgb(6, 221, 6) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proj-imgbox:hover .proj-imgboxtitle{
    opacity: 1;
    transition-duration: .5s;
}

/* notebox */
.notebox{
    display: flex;
    align-items: flex-end;
    height: 40vh;
}
@media screen and (max-width:768px) {
    .notebox{
        height: auto;
    }
}
.notebox a {
    text-align: right;
    display: block;
    font-size: 3em;
    color: #a5a4a4;
    font-weight: 700;
    opacity: 0;
}

.notebox a.is-inview {
    animation: fontup 0.5s linear ;
    animation-fill-mode: forwards; /*呈現動畫結束樣式*/
}
  

/* ccontact */
.contact-box p,.contact-box span,.contact-box a{
    font-size: 1rem;
}
.contact-tel {
    text-decoration: underline ;
}
.contact-tel:hover {
    color: #cce2e1;
}

/* foot */

.waves {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 5vh;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}